@font-face {
  font-family: "iconfont"; /* Project id 3168273 */
  src: url('iconfont.woff2?t=1647851430488') format('woff2'),
       url('iconfont.woff?t=1647851430488') format('woff'),
       url('iconfont.ttf?t=1647851430488') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rigellist-outline:before {
  content: "\e7e0";
}

.icon-rigelapps-copy-copy:before {
  content: "\ebbf";
}

.icon-rigelundo-alt:before {
  content: "\ebbd";
}

.icon-rigelredo1:before {
  content: "\eb83";
}

.icon-rigelundo:before {
  content: "\e7c6";
}

.icon-rigelredo:before {
  content: "\e7c4";
}

.icon-rigeljiantou3:before {
  content: "\e60a";
}

.icon-rigelxiangxia:before {
  content: "\e65b";
}

