@font-face {
  font-family: "iconfont"; /* Project id 3168273 */
  src: url('iconfont.woff2?t=1643866677543') format('woff2'),
       url('iconfont.woff?t=1643866677543') format('woff'),
       url('iconfont.ttf?t=1643866677543') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rigeljiantou3:before {
  content: "\e60a";
}

.icon-rigelxiangxia:before {
  content: "\e65b";
}

